* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}
.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img {
  width: 10rem;
  height: 11.55rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}
p {
  margin-top: 2rem;
}
ul {
  margin-top: 3rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
ul li a {
  transition: 0.3s;
}

ul li a:hover {
  transform: translateY(-8px);
}

@media (min-width: 720px) {
  body {
    background: #121214;
  }
  main {
    border-radius: 50px;
    width: 358px;
    height: 541px;
    min-height: 0;
    margin: auto;
    color: var(--grey-white);
    background: url(images/background.svg) no-repeat center/cover;
  }
  .container {
    margin-top: -8rem;
  }
  .keychain {
    background: linear-gradient(161.24deg,#FFC323 -15.25%,#FF3D6E 111.89%);
    width: 90px;
    height: 740px;
    position: absolute;
    margin-top: -45rem;
    margin-left: 8.9rem;
    z-index: 2;
  }
  .hole {
    position: absolute;
    background: #121214;
    width: 100px;
    height: 8px;
    margin-top: 18px;
    margin-left: 137px;
  }
  .container {
    margin-top: -8rem;
  }
  .keychain {
    background: linear-gradient(161.24deg,#FFC323 -15.25%,#FF3D6E 111.89%);
    width: 90px;
    height: 740px;
    position: absolute;
    margin-top: -45rem;
    margin-left: 8.9rem;
    z-index: 2;
  }
  .hole {
    position: absolute;
    background: #121214;
    width: 100px;
    height: 8px;
    margin-top: 18px;
    margin-left: 137px;
  }
}

.tema button{
  border: none;
  align-self: flex-end;
  font-size: 20px;
  padding: 6px 14px;
  background: linear-gradient(161.24deg,#FFC323 -15.25%,#FF3D6E 111.89%);
  border-radius: 100px;
}

.tema button{
  border: none;
  align-self: flex-end;
  font-size: 20px;
  padding: 6px 14px;
  background: linear-gradient(161.24deg,#FFC323 -15.25%,#FF3D6E 111.89%);
  border-radius: 100px;
}


.white {
  background: linear-gradient(161.24deg, #f5746b 27.26%, #e0e0e0 96.03%);
}
.white .tema button {
  border: none;
  align-self: flex-end;
  font-size: 20px;
  padding: 6px 14px;
  background: linear-gradient(161.24deg,#f5746b 27.26%,#e0e0e0 96.03%);
  border-radius: 100px;
}